html {
    height: 100%;
}

body {
    /* theme colors */
    --color-primary: #89ACAE;
    --color-primary-dark: #486E71;
    --color-primary-light: #ccf0f2;
    --color-secondary: #A53860;
    --color-secondary-dark: #6f243f;
    --color-secondary-light: #F8AD62;
    /* other global colors */
    --color-light: white;
    --color-dark: black;
    /* derivative colors */
    --color-background: var(--color-light);
    --color-text: var(--color-dark);
    /* text styles */
    --fontfamily-body: "Kollektif", Arial, Helvetica, sans-serif;
    --fontfamily-head: "Violense", "Kollektif", Arial, Helvetica, sans-serif;

    /* other global styles */
    min-height: 100%;
    background-color: var(--color-background);
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: var(--fontfamily-body);
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* uncolored text */
h1, h2, h3, h4, h5, h6, p, span {
    color: var(--color-text);
}

p, span, a, li {
    font-size: 1.3rem;
}

p, span, li {
    line-height: 1.3;
}

p {
    margin: 0 0 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--fontfamily-head);
}

h1 {
    font-size: 2.9rem;
    margin: 0.8rem 0;
}

h2 {
    font-size: 2.2rem;
    margin: 0.8rem 0;
}

.subtitle {
    font-family: var(--fontfamily-body);
    font-weight: normal;
}

h3 {
    font-size: 1.6rem;
}

ul {
    margin: 0;
}

hr {
    border: none;
    border-top: 1px solid var(--color-text);
    margin: 2em 0;
}

.first-letter::first-letter {
    font-size: 2rem;
    color: var(--color-primary);
}

/* static assets */

/* fonts */

@font-face {
    font-family: "Kollektif";
    src: url("fonts/kollektif/Kollektif.ttf");
    src: url("fonts/kollektif/Kollektif.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Kollektif";
    src: url("fonts/kollektif/Kollektif-Italic.ttf");
    src: url("fonts/kollektif/Kollektif-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Kollektif";
    src: url("fonts/kollektif/Kollektif-Bold.ttf");
    src: url("fonts/kollektif/Kollektif-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Kollektif";
    src: url("fonts/kollektif/Kollektif-BoldItalic.ttf");
    src: url("fonts/kollektif/Kollektif-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Violense";
    src: url("fonts/violense/Violense.otf");
    src: url("fonts/violense/Violense.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
