html {
    height: 100%;
}

body {
    /* theme colors */
    --color-primary: rgb(110, 68, 255);
    --color-primary-dark: rgb(58, 33, 146);
    --color-primary-light: rgb(184, 146, 255);
    --color-secondary-light: rgb(255, 211, 234);
    --color-secondary: rgb(255, 144, 179);
    --color-secondary-dark: rgb(239, 122, 133);
    /* other global colors */ 
    --color-light: white;
    --color-dark: black;
    /* derivative colors */
    --color-background: var(--color-light);
    --color-text: var(--color-dark);

    /* other global styles */
    min-height: 100%;
    background-color: var(--color-background);
    margin: 0;
    display: flex;
    flex-direction: column;

    font-family: "Kollektif", Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

/* uncolored text */
h1, h2, h3, h4, h5, h6, p, span {
    color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Violense";
}

hr {
    border: none;
    border-top: 1px solid var(--color-text);
}

.first-letter::first-letter {
    font-size: 2rem;
    color: var(--color-primary);
}

/* static assets */

/* set urls for images here to the paths work */

.bg-record {
    background-image: url("images/retro_record.png");
}

/* fonts */

@font-face {
    font-family: "Kollektif";
    src: url("fonts/kollektif/Kollektif.ttf");
    src: url("fonts/kollektif/Kollektif.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Kollektif";
    src: url("fonts/kollektif/Kollektif-Italic.ttf");
    src: url("fonts/kollektif/Kollektif-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Kollektif";
    src: url("fonts/kollektif/Kollektif-Bold.ttf");
    src: url("fonts/kollektif/Kollektif-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Kollektif";
    src: url("fonts/kollektif/Kollektif-BoldItalic.ttf");
    src: url("fonts/kollektif/Kollektif-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Violense";
    src: url("fonts/violense/Violense.otf");
    src: url("fonts/violense/Violense.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
