$screen-width-narrow: 768px;

@mixin alt-link {
    text-decoration: none;
    color: var(--color-light);

    &:hover {
        color: var(--color-secondary-light);
    }
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to   {transform: rotate(360deg);}
}
